*,*::after,*::before{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    margin:0;
    padding:0;

    color:var(--color-font-dark);
}
ul{
    list-style: none;
}

:root{
    --color-main-rgb: 101,186,183;
    --color-main-light:rgba(var(--color-main-rgb));


    --color-pageTage-border:#2C2F32;
    --color-pageTage-background:white;

    --color-page-dark:#2C2F32;
    --color-page-light:#D1D9D8;

    --color-font-dark:#2C2F32;
    --color-font-light-v:#BE9BF7;
    --color-font-alert:#CF6767;

    --color-button-v:#7D46D7;
}

 

a{
    color:black;
    text-decoration: none;
    font-size:15px;
    display: inline-block;
}

/* ============================[APP STRUCTURE]======================== */

.animation-default.out,.animation-default.in{animation-duration:5ms;animation-timing-function:linear;}

.ui-loader{
    display:none;
}

[data-role="page"]{
    width:100%;
    height:100%;

    background:transparent;

    position:fixed;
    left:0;
    
    display:none;
    justify-content: end;
    overflow:hidden;

    pointer-events: none;
}

[data-role="page"].ui-page-active{
    display:flex;
    flex-direction: column;
} 

[data-role="main"]{
    width:100%;
    pointer-events: auto;
    display:flex;
    flex-direction: column;
    gap:0;
    justify-content: flex-end;
    align-items: center;
    position:absolute;
    transition:all 0.3s cubic-bezier(0.45, 0.86, 0.8, 1);
}



/* ============================[Comps]======================== */
.pageTag{

    width:fit-content;

    position:absolute;
    top:-10px;
    left:0;
    right:0;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background:var(--color-pageTage-background);
    border:var(--color-pageTage-border) 2px solid;
    border-radius: 50px;
    padding:1px 10px;
    
}
    .pageTag > h1{
        font-size: 15px;
        color:var(--color-page-dark);
    }
/* ------------------------------------ */
.ImgContainer_default{
    width:60vw;
    height:35vw;
    position:absolute;
    top:-18vw;
    left:0;
    right:0;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background:var(--color-pageTage-background);
    border:var(--color-pageTage-border) 2px solid;
    border-radius: 15px;
    padding:1px 10px;
    
}
    .ImgContainer_default > h1{
        font-size: 15px;
    }
/* ------------------------------------ */
.catEarsContainer{
    width:100%;
    height:65px;
    
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex:none;
}
    .catEar{
        height:100%;
        width:30%;
        
        background-image: url("../img/catEar.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .catEarRight{
        transform:scaleX(-1);
    }
/* ------------------------------------ */
.list-page > div{
    width:100%;
    height:95%;

    bottom:-95%;
    left:0;
}
.pageBackground_default{
    width:100%;
    height:90%;
    flex:1;
    position:relative;
    display:flex;
    flex-direction: column;
    background:var(--color-page-dark);
}
    .pageNavConatiner_default{
        width:90%;
        display: flex;
        justify-content: space-between;
        margin:0 auto;
    }
    .listNav {
        font-size: 15px;
        padding: 32px 0;
        display: flex;
        gap:8px;
    }
        .listNav > img {
            width:10px;
        }
        .listNav > h1 {
            font-size: 13px;
            color:white;
        }

    .ListContainer_default{
        width:90%;
        flex:1;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap:32px;
        overflow: scroll;
        position: relative;
    }
    .listItem_defult{
        background: #FFFFFF;
        box-shadow: 0px 4px 4px #000000;
        border-radius: 39px;
        height:80px;
        width:100%;
        display:flex;
        gap: 16px;
        justify-content: flex-start;
        align-items: center;
    }
    .listItem_defult:last-child{
        margin-bottom: 150px;
    }

/* ------------------------------------ */

.form{
    width:90%;
    margin:20px auto 56px auto;
    display: flex;
    flex-direction: column;
    gap:24px;
    height:100%;
}
    .form-control{
        width:100%;
        position:relative; 
        left:0;
        top:0;   
    }
    .form-label{
        display:inline-block;
        width:fit-content;
        height:fit-content;

        position:absolute;
        left:0;
        bottom:0;
        top:-40px;
        right:0;

        margin: auto auto;
        padding: 0 4px;

        color:rgba(255, 255, 255, 0.543);
        background-color: var(--color-font-dark);

        font-size:15px;
    }
    .form-input{
        width:100%;
        height:40px;
        background:transparent;
        border: rgba(255, 255, 255, 0.381) 1px solid;
        border-radius: 6px;
        font-size: 15px;
        padding:0px 5px;
        text-align: center;
        color:white;
    }
    .form-button{
        width:90%;
        height:45px;
        background: var(--color-button-v);
        border: var(--color-button-v) 2px solid;
        border-radius: 45px;
        text-align: center;
        margin:0 auto;
        padding:10px 0;
        color:white;
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
        font-size:20px;
        line-height: 0px;
    }
    .form-button_dark{
        width:90%;
        height:45px;
        background: transparent;
        border: var(--color-button-v) 2px solid;
        border-radius: 30px;
        text-align: center;
        margin:0 auto;
        padding:10px 0;
        color:var(--color-button-v);
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
        font-size:20px;
    }
    .form-button_s{
        width:100%;
        background: var(--color-button-v);
        border: var(--color-button-v) 2px solid;
        border-radius: 30px;
        text-align: center;
        margin:0 auto;
        height:35px;
        color:white;
        font-size:15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap:8px;
    }
    .form-button_s_dark{
        width:100%;
        background: transparent;
        border: var(--color-button-v) 2px solid;
        border-radius: 30px;
        text-align: center;
        margin:0 auto;
        height:35px;
        color:var(--color-button-v);
        font-size:15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap:8px;
    }
    .form-button_s_redline{
        width:100%;
        background: transparent;
        border: var(--color-font-alert) 2px solid;
        border-radius: 30px;
        text-align: center;
        margin:0 auto;
        height:35px;
        color:var(--color-font-alert);
        font-size:15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap:8px;
    }
    .form-button_s_white{
        width:100%;
        background: white;
        border: var(--color-button-v) 2px solid;
        font-weight: 800;
        border-radius: 30px;
        text-align: center;
        margin:0 auto;
        height:35px;
        color:var(--color-button-v);
        font-size:15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap:8px;
    }
    .form_buttonContainer{
        flex:1;
        padding-bottom: 36px; 
        width:100%;
        display: flex;
        flex-direction: column;
        gap:16px;
        justify-content: flex-end;
    }
        .form_buttonContainer_line1{
            width:100%;
            display: flex;
            flex-direction: row;
            gap:16px;
        }


/* ------------------------------------ */
.listPageMenuConatiner{
    width:300px;
    height:300px;
    display: flex;
    flex-direction: column;
    border:var(--color-font-dark) 5px solid;
    align-items: center;
    background:var(--color-button-v);
    position:absolute;
    left:0;
    right:0;
    bottom:-250px;
    z-index:2;
    padding:20px 10%;
    border-radius: 100%;
    margin:0 auto;
    overflow: hidden;
    transition: all 0.3s;
}
    .listPageMenuConatiner_active{
        width:100%;
        height:initial;
        justify-content: end;
        transition: all 0.3s;
        bottom:0px;
        border-radius: 0;
        border:none;
        transition: all 0.3s;
    }
.listPageMenubutton{
    width:20px;
    margin:5px;
    position:relative;
    bottom:0; 
    /* animation: Menubutton 10s 3s infinite;   */
}
    /* @keyframes Menubutton {
        0%{bottom:0px; }
        1%{bottom:-3px; }
        2%{bottom:3px; }
        3%{bottom:-3px; }
        4%{bottom:3px; }
        5%{bottom:0px; }
        100%{bottom:0px; }
    } */
.listPageMenuContent{
    display:none;
    transition: all 0.3s;
}   
    .listPageMenuContent_active{
        display:inline;
        width:100%;
        transition: all 0.3s;
    }
    .sortTitle{
        color:white;
        margin-bottom: 8px;
    }
    .sortListConatiner{
        display: flex;
        flex-direction: column;
        gap:8px;
    }
    .sortItem{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding:5px 15px;
        border-radius: 20px;
        border:var(--color-font-dark) 2px solid;
    }
        .sortItem > h1{
            color:white;
            font-size: 15px;
        }
        .sortItem > img{
            display:none;
            width:15px;
        }
        .sortItem_active{
            background:var(--color-font-dark);
        }
        .sortItem_active > img{
            display:inline;
        }
    .menuFooterConatiner{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top:24px;
    }
.listPageMenuBackground{
    width:100%;
    height:100px;
    background:linear-gradient(360deg, #2C2F32 0%, rgba(44, 47, 50, 0) 100%);  
    position:absolute;
    left:0;
    bottom:0; 
    z-index: 1;  
    pointer-events: none;
}
    .listPageMenuBackground_active{
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        width:100%;
        height:100vh;
        background:#2e333663;
        pointer-events: all;
    }

/* ------------------------------------ */
.fullSreenCoverPopContainer{
    /* display:none; */
    opacity: 0;
    position:fixed;
    left:0;
    bottom:0;
    height:100vh;
    width:100vw;
    z-index: 2;
    pointer-events: none;
    transition: all 0.3s;
}
    .fullSreenCoverPopBox{
        width:90%;
        height:100%;
        margin:0 auto;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }
    .fullSreenCoverPopBackground {
        width:100%;
        height:100vh;
        backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
        background:#2e3336c6;  
        position:absolute;
        left:0;
        bottom:0; 
        z-index: -1;  
        pointer-events: none;
    }
    .fullSreenCoverPopContainer_active{
        display:inline;
        opacity: 1;
        pointer-events: all;
        transition: all 0.3s;
    }
    .fullScreenNavConatiner{
        z-index: 2;
        display: flex;
        width:100%;
        justify-content: space-between;
    }
.popContentConatiner_v{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-button-v);
    border-radius: 8px;
    padding:24px;
    transition:all 0.3s;
}
.popContentConatiner_color{
    width:100%;
}
.popContentConatiner_imgChose{
    width:100%;
    display: flex;
    flex-direction: column;
    gap:16px;
}
.popContentConatiner_delete{
    width:100%;
    display: flex;
    flex-direction: column;
    color:white;
    justify-content: center;
    align-items: center;
    gap:24px;
}
    .popContentConatiner_delete >h1{
        color:white;
    }
    .popContentConatiner_delete >h2{
        color:white;
        text-align: center;
        font-size: 15px;
    }
/* ============================[Signin Page]======================== */
/* .signin-page{
    justify-content: end;
} */
.sign_cat{
    position:absolute;
    top:0;
    z-index: -1;
}
.signin-page > div{
    width:100%;
    height:100%;
    max-height: 720px;
    bottom:0;
}
.sign_mainContainer{
    width:100%;
    display:flex;
    flex-direction: column;
    margin-top: -40%;
}
    .sign_darkSideConatiner{
        display: flex;
        flex-direction: column;
        gap:0;
    }
        .sign_darkSideInfor{
            position:relative;
            background-color: var(--color-page-dark);
            border-radius: 0px 0px 40px 40px;
        }
        .sign_buttonContainer{
            width:70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            position:absolute;
            left: 0;
            bottom:-22%;
            right:0;
            margin:0 auto;
            
        }
        .sign_buttonContainer>div{
            font-size:12px;
            margin-top:8px;
        }
        .sign_buttonContainer>div >a{
            font-size:12px;
            margin-top:8px;
            color:var(--color-button-v);
            text-decoration: underline;
        }
    .sign_lightSide{
        margin-top: -10vh;
        height:23vh;
        background-color:var(--color-page-light) ;
        display: flex;
        width:100%;
        justify-content: center;
        align-items: flex-end;
    }
        .sign_lightSide>h1{
            font-size: 12px;
            font-weight: 200;
            padding:8px;
            color:black;
            opacity: 0.3;
        }
    .signIn-note{
        width:80%;
        margin:30px auto 0 auto;
    }
    .signIn-note > h1{
        font-size: 12px;
        font-weight: 500;
        color:var(--color-font-light-v);
        text-align: center;
    }
        .formError{
            position:relative;
            animation:errorShak linear 0.5s;
        }
        @keyframes errorShak {
            20%{right:-10px}
            40%{right:8px}
            60%{right:-6px}
            80%{right:3px}
            100%{right:0}
        }

/* ============================[Signup Page]======================== */
/* .signin-page{
    justify-content: end;
} */
.sign_welcome{
    position:absolute;
    top:0;
    z-index: -1;
}
.signup-page > div{
    width:100%;
    height:100%;
    max-height: 800px;
    bottom:0;
}
.signup_mainContainer{
    width:100%;
    display:flex;
    flex-direction: column;
    /* margin-top: -60%; */
}
    .signup_darkSideConatiner{
        display: flex;
        flex-direction: column;
        gap:0;
    }
        .signup_darkSideInfor{
            position:relative;
            background-color: var(--color-page-dark);
            border-radius: 0px 0px 40px 40px;
        }
        .signup_buttonContainer{
            width:70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            position:absolute;
            left: 0;
            bottom:-50px;
            right:0;
            margin:0 auto;
            
        }
        .signup_buttonContainer>div{
            font-size:12px;
            margin-top:8px;
        }
        .signup_buttonContainer>div >a{
            font-size:12px;
            margin-top:8px;
            color:var(--color-button-v);
            text-decoration: underline;
        }
    .signup_lightSide{
        margin-top: -10vh;
        height:22vh;
        background-color:var(--color-page-light) ;
        display: flex;
        width:100%;
        justify-content: center;
        align-items: flex-end;
    }
        .signup_lightSide>h1{
            font-size: 12px;
            font-weight: 200;
            padding:8px;
            color:black;
            opacity: 0.3;
        }
    .signUp-note{
        width:80%;
        margin:30px auto 0 auto;
    }
    .signUp-note > h1{
       font-size: 12px;
       font-weight: 500;
       color:var(--color-font-light-v);
       text-align: center;
    }
    #signUpPageError_slot{
        font-size: 12px;
        font-weight: 500;
        color:var(--color-font-alert);
        display:none;
    }

/* ============================[Onbording Page]======================== */
.onboarding-page{
    position:fixed;
    top:0;
    z-index: 1;
}
.onboarding-page > div{
    position:fixed;
    bottom: 0;
    overflow: hidden;
    width:100%;
    height:100%;
    bottom:0;
    
}
.onbo_slideContainer{
    display: flex;
    width:300%;
    height:100%;
    position: absolute;
    left:0%;
    bottom:0;
    transition: all 0.3s;
}
.onbo_slideSingle{
    width:100%;
    height:100%;
    
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-top: 100px;
    gap:16px;
}
    .onbo_slideImg{
        /* width:70%; */
        height:50%;
        border-radius: 15px;
        box-shadow: -14px 12px 4px rgba(0, 0, 0, 0.25);
    }


.onbo_stayContainer{
    width: 70%;
    display:flex;
    flex-direction: column;
    position: absolute;
    bottom:40px;
    gap:50px;
}
.onbo_dotsContainer{
    width:100%;
    justify-content: center;
    display: flex;
    gap:16px;
}
.onbo_dot{
    width:10px;
    height:10px;
    background: var(--color-font-dark);
    border: var(--color-font-dark) 2px solid;
    border-radius: 15px;
    transition: all 0.3s;
}
    .onbo_dot_active{
        width:30px;
        background:transparent;
        transition: all 0.3s;
    }
.onbo_buttonContainer{
    width:100%;
    display: flex;
    flex-direction: column;
    gap:16px;
}
.onbo_button_next{
    width:100%;
    background:var(--color-button-v);
    text-align: center;
    color: #ffffff;
    border-radius: 20px;
    padding:10px;
    font-weight: 900;

}

.sign_buttonContainer_line2{
    display: flex;
    width:100%;
    justify-content: space-between;
}
    .sign_buttonContainer_line2 > h1{
        font-size: 15px;
        color:white
    }



/* ============================[Main Page]======================== */

.main-page-main{
    width:100%;
    height:120px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;    
    bottom:-120px;
    left:0;
}
.mainNavContainer{
    background:var(--color-page-dark);
    width:100%;
    height:80px;
    display:flex;
    justify-content: space-around;
    align-items: flex-end;
    padding:15px 0;
    margin: auto auto;
    padding:0 8% 16px 8%;
    margin:0;

}
    .navConatiner{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:10px;
    }
    .mainNavIcon{
        width:25px;
    }
    .mainNavIcon2{
        width:80px;
        margin-bottom: -8px;
    }
    .navConatiner > h1{
        color:white;
        font-size:12px;
    }

/* ============================[Color List Page]======================== */


    .colorList_pic{
        width:70px;
        height:70px;
        background:black;
        border-radius: 50px;
        margin-left: 7px;
    }
    .colorList_informationContainer{
        display: flex;
        height:100%;
        padding:7px 0;
        flex-direction: column;
        justify-content: space-between;
    }
    .colorList_informationContainer > h1{
        font-size:20px;
        font-weight: 900;
        margin-bottom:4px;
    }
    .colorList_informationContainer > h2{
        font-size:12px;
        font-weight: 400;
    }

/* ============================[Cat List Page]======================== */
    .catList_pic{
        width:70px;
        height:70px;
        background:black;
        border-radius: 50px;
        margin-left: 7px;
    }
    .catList_informationContainer{
        display: flex;
        height:100%;
        padding:7px 0;
        gap:2px;
        flex-direction: column;
        justify-content: center;
    }
    .catList_informationContainer > h2{
        font-size:12px;
        font-weight: 400;
    }
    .catList_informationContainer > h2 >img{
        width:12px;
        position:relative;
        bottom:-2px;
    }


/* ============================[Cat Detail Page]======================== */
.cat-detail-page > div{
    width:100%;
    height:370px;

    bottom:-380px;
    left:0;
}
.catDetail_listNav{
    padding:16px 0;
}
        .catDetail_inforContainer {
            display: flex; 
            flex-direction: column; 
            align-items: left;
            width:100%;
            padding:0 5%;
            flex:1;   
            align-items: flex-start;  
            gap:10px;                                    
        }
            .catDetail_pic{
                background-image: url("../img/testCat.webp");
                background-position: center;
                background-size: cover;
                width:100%;
                height:18vh;  
                border-radius: 10px;  
                margin-bottom: 16px;
                position:relative;                                               
            }
                .catDetail_fullScreenIcon{
                    width:30px;
                    position:absolute;
                    right:4px;
                    bottom:4px;
                }

            .catDetail_inforBox{
                  width:80%; 
                  display: flex;
                  flex-direction: column;
                  gap:4px;
                  margin-bottom:24px;                       
            }
                .catDetail_inforBox > h2{
                    font-size:12px;  
                    color:white;                                         
                }
                    .catDetail_inforBox > h2 >img{
                        width:12px;
                        position:relative;
                        bottom:-2px;
                    }
    .catDetail_editContainer{
        width:60px;
        height:60px;
        position:absolute;
        right:0;
        bottom: 0;
        background: var(--color-button-v);
        border-radius: 100px 0 0 0;
    }
        .catDetail_edit{
            width:20px;
            height:20px;
            position:absolute;
            right:15px;
            bottom:15px;

        }


    .catDetail_fullScreenPic{
        width:100%;
        max-height: 75vh;
        z-index: 2;
    }


/* ============================[Adding Page]======================== */
.noMargin{
    margin:0 auto;
}
.adding-page > div{
    width:100%;
    height:95%;

    bottom:-95%;
    left:0;
}
    .adding-page > div > .pageContentContainer{
        background:var(--color-font-dark);    
                                    
    }
    .adding_container{
            width:100%;
            display: flex;
            flex-direction: column;
            align-items: center;                                              
        }
    .form-input-img{
        width:100%;
        height:20vh;
        background:#000000;
        background-position: center;
        background-size: cover;
        border-radius: 8px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .editingAdding_color_conatiner{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .editingAdding_friendly_conatiner{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap:32px;
        border:none;
    }
        .editingAdding_friendly_conatiner > img{
            width:20px
        }
    .adding_buttonContainer{
        display: flex;
        gap:16px;
    }

.popContent_ChosseColor{
    width:100%;
    display:none;
    justify-content: center;
    gap:24px;
    align-items: center;
    flex-direction: column;
}
    .popContent_ChosseColor_active{
        width:100%;
        display:flex;
    }
    .popContent_ChosseColor_nav{
        width:100%;
        display:flex;
        align-items: center;
    }
        .popContent_ChosseColor_nav_title{
            flex:1;
            font-size:15px;
            color:white;
        }
    .popContent_ChosseColor_nav_deleteEditSwitch{
        display: flex;
        height:15px;
        gap:8px
    }
    .popContent_ChosseColor_nav_deleteEditSwitchContainer{
        width:35px;
        height:15px;
        border-radius: 15px;
        border:white 1px solid;
        position: relative;
    }
    .popContent_ChosseColor_nav_deleteEditSwitch_dot{
        width:11px;
        height:11px;
        background-color: white;
        border-radius: 15px;
        position:absolute;
        top:0;
        bottom:0;
        left:1px;
        margin:auto 0;
        transition: all 0.3s linear;
    }
        .popContent_ChosseColor_nav_deleteEditSwitch_dot_active{
            left:21px;
            transition: all 0.3s linear;
        }
    .popContent_ChosseColor_lists{
        width:100%;
        display: flex;
        flex-direction: column;
        gap:16px;
        align-items: center;
    }
        .popContent_ChosseColor_colorlist{
            width:100%;
            display: flex;
            flex-direction: column;
            max-height:40vh;
            gap:8px;
            overflow-y:scroll;
        }
            .popContent_ChosseColor_colorlist_itemLine{
                display:flex;
                width: 100%;
                gap:8px;
            }
                .popContent_ChosseColor_colorlist_item{
                    display: flex;
                    flex:1;
                    height:35px;
                    border-radius: 25px;
                    border: var(--color-font-dark) 2px solid;
                    padding:0 15px;
                    align-items: center;
                }
                    .popContent_ChosseColor_colorlist_item_active{
                        background-color: var(--color-font-dark);
                    }
                    .popContent_ChosseColor_colorlist_item >h1{
                        color:white;
                        flex:1;
                        font-size: 15px;
                    }
                    .popContent_ChosseColor_colorlist_item > img{
                        width: 15px;
                        display: none;
                    }
                    .popContent_ChosseColor_colorlist_item_active > img{
                        display: inline-block;
                    }
                .popContent_ChosseColor_colorlist_edit{
                    background-color: var(--color-font-dark);
                    width:35px;
                    height:35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 35px;
                }  
                .popContent_ChosseColor_colorlist_edit >img ,
                .popContent_ChosseColor_colorlist_delete >img{
                    width:12px;
                } 
                .popContent_ChosseColor_colorlist_delete{
                    background-color: var(--color-font-alert);
                    width:35px;
                    height:35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 35px;
                } 

        .popContent_ChosseColor_addColor{
            width:100%;
            display: flex;
            height:35px;
            border-radius: 25px;
            border: white 1px solid;
            padding:0 15px;
            align-items: center;
            justify-content: center;
        }   
            .popContent_ChosseColor_addColor >h1 {
                color:white;
                font-size:15px;
                font-weight: 500;
            }
        .popContent_ChosseColor_deleteAlert{
            width:100%;
            display:flex;
            flex-direction: column;
            align-items:flex-start;
            gap:16px;
        }
        .popContent_ChosseColor_deleteAlert> h1{
            color:white;
            width:100%;
            text-align: center;
        }
        .popContent_ChosseColor_deleteAlert> h2{
            color:white;
            font-size: 13px;
            font-weight: 500;
            text-align: left;
        }
        .popContent_ChosseColor_deleteAlert> h3{
            color:white;
            font-size: 20px;
            font-weight: 900;
            text-align: left;
        }
        .popContent_ChosseColor_deleteAlert_buttons{
            width: 100%;
            margin-top: 25px;
            display: flex;
            flex-direction: column;
            gap:16px
        }
/* ============================[Editing Page]======================== */

.editing-page > div{
    width:100%;
    height:98%;

    bottom:-98%;
    left:0;
}
    .editing-page > div > .pageContentContainer{
        background:var(--color-font-dark);                                                     
    }
    .editing_container{
            width:100%;
            display: flex;
            flex-direction: column;
            align-items: center;                                              
        }
/* ============================[Profile Page]======================== */

.profile-page > div{
    width:100%;
    height:335px;
    bottom:-350px;
    left:0;
}
    .profile-page > div > .pageContentContainer{
        background:var(--color-font-dark);                                                     
    }
    .profile_inforContainer{
        width:90%;
        margin:0 auto;
        display: flex;
        flex-direction: row;
        gap:16px;
    }
    .userImgContainer{
        width:150px;
        height:150px;
        background-image: url("../img/testCat.webp");
        background-position: center;
        background-size: cover;
        border-radius: 150px;
        flex:none
    }
    .userInforConatiner{
        flex:1;
        height:150px;
        display:flex;
        flex-direction: column;
        gap:8px;
        justify-content: center;
    }
        .userInforConatiner>h1{
            color: white;
            font-size: 20px;
        }
        .userInforConatiner>h2{
            color:rgba(255, 255, 255, 0.498);
            font-size: 15px;
        }
        .userInforConatiner>h3{
            color:white;
            font-size: 12px;
        }
    .prodile_buttonContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap:16px;
        padding-top:20px;
    }
/* ============================[background]======================== */
.backgroundContainer{
    width:100%;
    height:100vh;
    height:calc(100vh);
    display: flex;
    justify-content: center;
    position:fixed;
    top:0;
    right:0;
    overflow: hidden;
    pointer-events: all;
    align-items: center;
    z-index: -2;
}
.backgroundContainer_active{
    position:relative;
}
.signinAndSignupPageBackground{
    width:100vw;
    height:100%;
    background-image: url("../img/signInUpBackground.svg");
    background-size: cover;
    background-position: center;
    position:absolute;
    left:0;
    top:0;
    
}
.signinAndSignupPageBackground_unactive{
    display: none;
    pointer-events: none;
}
.signinAndSignupPageBackground_active{
    display: block;
    pointer-events: all;
}
/* -------------------------- */
.googleMapContainer{
    width:100%;
    height:100%;
    background-image: url("../img/map.png");
    background-size: cover;
    background-position: center;
}


/* ============================[SVG]======================== */
svg{
    width:50px;
    height:50px;
}

path:first-child{
    stroke-dasharray: 247;
    stroke-dashoffset: 247;
    animation:svganimation2 0.5s ease-in-out;
    animation-fill-mode:forwards;
}
path:nth-child(2){
    stroke-dasharray: 62;
    stroke-dashoffset: 62;
    animation:svganimation 0.5s ease-out 0.3s;
    animation-fill-mode:forwards;
}

@keyframes svganimation {
    to{
        stroke-dashoffset: 0;
    }
}
@keyframes svganimation2 {
    to{
        stroke-dashoffset: 0;
    }
}











