*,*::after,*::before{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    margin:0;
    padding:0;

    color:var(--color-font-dark);
}

:root{
    --color-main-rgb: 101,186,183;
    --color-main-light:rgba(var(--color-main-rgb));


    --color-pageTage-border:black;
    --color-pageTage-background:white;

    --color-font-dark:rgb(37, 36, 46);
}

 

a{
    color:black;
    text-decoration: none;
    font-size:15px;
    display: inline-block;
}

/* ============================[APP STRUCTURE]======================== */

.animation-default.out,.animation-default.in{animation-duration:2ms}

.ui-loader{
    display:none;
}

[data-role="page"]{
    width:100%;
    height:100%;

    background:transparent;

    position:fixed;
    left:0;
    
    display:none;
    overflow:hidden;

    pointer-events: none;
}

[data-role="page"].ui-page-active{
    display:flex;
    flex-direction: column;
} 

[data-role="main"]{
    pointer-events: auto;
    display:flex;
    flex-direction: column;
    gap:0;
    justify-content: center;
    align-items: center;
    position:absolute;

    transition:all 0.3s cubic-bezier(0.45, 0.86, 0.8, 1);
}



/* ============================[Comps]======================== */
.pageTag{

    width:fit-content;

    position:absolute;
    top:-10px;
    left:0;
    right:0;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background:var(--color-pageTage-background);
    border:var(--color-pageTage-border) 2px solid;
    border-radius: 50px;
    padding:1px 10px;
    
}
    .pageTag > h1{
        font-size: 15px;
    }
/* ------------------------------------ */
.ImgContainer_default{
    width:60vw;
    height:35vw;
    position:absolute;
    top:-18vw;
    left:0;
    right:0;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background:var(--color-pageTage-background);
    border:var(--color-pageTage-border) 2px solid;
    border-radius: 15px;
    padding:1px 10px;
    
}
    .ImgContainer_default > h1{
        font-size: 15px;
    }
/* ------------------------------------ */
.catEarsContainer{
    width:100%;
    height:50px;
    
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex:none;
}
    .catEar{
        height:100%;
        width:30%;
        
        background-image: url("../img/catEar.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .catEarRight{
        transform:scaleX(-1);
    }
/* ------------------------------------ */
.pageBackground_default{
    width:100%;
    height:90%;
    flex:1;
    position:relative;
    display:flex;
    flex-direction: column;
}
    .listNavConatiner_default{
        width:90%;
        display: flex;
        justify-content: space-between;
        margin:0 auto;
    }
    .listNavConatiner_default > .listNav > h1{
            font-size: 15px;
        }

    .ListContainer_default{
        width:90%;
        height:100%;
        margin:0 auto;
        display: flex;
        flex-direction: column;
        gap:32px;
        flex:none;
        overflow: scroll;
    }

/* ============================[Signin Page]======================== */

/* ============================[Main Page]======================== */

.main-page-main{
    width:100%;
    height:80px;
    background:rgb(96, 95, 95);
    bottom:-80px;
    left:0;
}
.mainNavContainer{
    width:100%;
    display:flex;
    justify-content: space-around;
    padding:15px 0;
    margin: auto auto;

}

/* ============================[List Page]======================== */
.list-page > div{
    width:100%;
    height:95%;

    bottom:-95%;
    left:0;
}
    .list-page > div > .pageContentContainer{
        background:rgb(167, 150, 150);                                                     
    }
        .list-page > div > .pageContentContainer > .ListContainer > a{
            width:100%;
            display:flex;
            gap: 16px;
        }
            .list-page > div > .pageContentContainer > .ListContainer > a > .pic{
                width:150px;
                height:60px;
                background:black;
                border-radius: 8px;
            }
            .list-page > div > .pageContentContainer > .ListContainer > a > .informationContainer{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
                .list-page > div > .pageContentContainer > .ListContainer > a > .informationContainer > h1{
                    font-size:20px
                }
                .list-page > div > .pageContentContainer > .ListContainer > a > .informationContainer > h2{
                    font-size:12px
                }

/* ============================[Cat Detail Page]======================== */
.cat-detail-page > div{
    width:100%;
    height:30%;

    bottom:-100%;
    left:0;
}
    .cat-detail-page > div > .pageContentContainer{
        background:rgb(167, 150, 150);                                                     
    }
        .cat-detail-page > div > .pageContentContainer > .inforContainer {
            display: flex;  
            width:100%;
            padding:0 5%;
            flex:1;   
            align-items: center;  
            gap:10px;                                    
        }
            .cat-detail-page > div > .pageContentContainer > .inforContainer >.pic{
                background:rgb(0, 0, 0); 
                width:150px;
                height:90%;                                                   
            }
            .cat-detail-page > div > .pageContentContainer > .inforContainer > .inforBox{
                                                                  
            }
                .cat-detail-page > div > .pageContentContainer > .inforContainer > .inforBox{
                    font-size:10px;                                                
                }

/* ============================[Adding Page]======================== */
.adding-page > div{
    width:100%;
    height:95%;

    bottom:-95%;
    left:0;
}
    .adding-page > div > .pageContentContainer{
        background:rgb(167, 150, 150);                                                     
    }
        .adding-page > div > .pageContentContainer > .container{
            width:100%;
            display: flex;
            flex-direction: column;
            gap:16px;   
            align-items: center; 
            margin-top: 40px;                                                
        }

        .adding-page > div > .pageContentContainer > .container > .pic{
            width:300px;
            height:200px;
            background:black;
            
            color:white;
        }
        .adding-page > div > .pageContentContainer > .container > div{
            display: flex;
            gap:8px;

        }
            .adding-page > div > .pageContentContainer > .container > div >h1{
                font-size: 15px;
            }
            .adding-page > div > .pageContentContainer > .container > div > input{
                flex:1;
                display: inline-block;
                width:100%;
            }

            
/* ============================[background]======================== */
.backgroundContainer{
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;

    pointer-events: all;
    align-items: center;
    z-index: -2;
}
.backgroundContainer_active{
    position:relative;
}
.signinAndSignupPageBackground{
    width:100vw;
    height:100vh;
    background-image: url("../img/signInUpBackground.svg");
    background-size: cover;
    background-position: center;
    position:absolute;
    left:0;
    top:0;
    
}
.signinAndSignupPageBackground_unactive{
    display: none;
    pointer-events: none;
}
.signinAndSignupPageBackground_active{
    display: block;
    pointer-events: all;
}

/* ============================[SVG]======================== */
svg{
    width:50px;
    height:50px;
}

path:first-child{
    stroke-dasharray: 247;
    stroke-dashoffset: 247;
    animation:svganimation2 0.5s ease-in-out;
    animation-fill-mode:forwards;
}
path:nth-child(2){
    stroke-dasharray: 62;
    stroke-dashoffset: 62;
    animation:svganimation 0.5s ease-out 0.3s;
    animation-fill-mode:forwards;
}

@keyframes svganimation {
    to{
        stroke-dashoffset: 0;
    }
}
@keyframes svganimation2 {
    to{
        stroke-dashoffset: 0;
    }
}











